.farmer-badge {
  position: flex;
  top: 50px;
  right: 20px;
  display: flex;
  align-items: center;
  background: #83aa6c;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.01s ease-in-out;
}

.farmer-badge:hover {
  background: #609994;
}

.farmer-badge .icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}